/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip { chain-length = <29>; };

&nice_view_spi { cs-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>; };

/ {
    combos {
        compatible = "zmk,combos";

        systemlayer {
            bindings = <&mo 3>;
            key-positions = <52 51>;
        };
    };

    behaviors {
        balanced_homerow_mods: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BALANCED_HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
        };

        homerow_mods: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC           &kp N1                             &kp N2                             &kp N3                               &kp N4                          &kp N5                                  &kp N6  &kp N7                          &kp N8                                &kp N9                              &kp N0                                       &kp DE_ACUTE
&kp TAB           &kp Q                              &kp W                              &kp E                                &kp R                           &kp T                                   &kp Y   &kp U                           &kp I                                 &kp O                               &kp P                                        &kp DE_PLUS
&kp LEFT_CONTROL  &balanced_homerow_mods A LEFT_GUI  &balanced_homerow_mods S LEFT_ALT  &balanced_homerow_mods D LEFT_SHIFT  &balanced_homerow_mods F LCTRL  &kp G                                   &kp H   &balanced_homerow_mods J RCTRL  &balanced_homerow_mods K RIGHT_SHIFT  &balanced_homerow_mods L RIGHT_ALT  &balanced_homerow_mods DE_SHARP_S RIGHT_GUI  &kp DE_HASH
&kp LEFT_SHIFT    &kp Z                              &kp X                              &kp C                                &kp V                           &kp B   &kp C_PLAY_PAUSE    &kp C_MUTE  &kp N   &kp M                           &kp COMMA                             &kp DOT                             &kp FSLH                                     &kp RSHFT
                                                                                        &kp LALT                             &kp LGUI                        &mo 1   &kp SPACE           &kp RET     &mo 2   &kp BSPC                        &kp DELETE
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5            &kp F6                                     &kp F7                    &kp F8            &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans            &kp DE_LEFT_BRACKET                        &kp DE_RIGHT_BRACKET      &trans            &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &kp DE_LESS_THAN  &kp DE_LEFT_BRACE                          &kp DE_RIGHT_BRACE        &kp GREATER_THAN  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans            &kp DE_LEFT_PARENTHESIS  &trans    &trans  &kp DE_RIGHT_PARENTHESIS  &trans            &trans  &trans   &trans   &trans
                        &trans  &trans            &trans                   &trans    &trans  &trans                    &trans            &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans           &trans    &trans          &trans     &trans                    &trans  &trans           &trans            &trans            &trans  &trans
&trans  &trans           &trans    &kp UP_ARROW    &trans     &trans                    &trans  &kp DE_U_UMLAUT  &kp DE_AMPERSAND  &kp DE_O_UMLAUT   &trans  &trans
&trans  &kp DE_A_UMLAUT  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &trans                    &trans  &kp DE_SLASH     &kp DE_PIPE       &kp DE_BACKSLASH  &trans  &trans
&trans  &trans           &trans    &trans          &trans     &trans  &trans    &trans  &trans  &trans           &trans            &trans            &trans  &trans
                                   &trans          &trans     &trans  &trans    &trans  &trans  &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        system {
            bindings = <
&bt BT_CLR         &bt BT_SEL 0      &bt BT_SEL 1       &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                       &trans                             &trans                           &trans                           &trans                            &trans                            &trans
&ext_power EP_TOG  &ext_power EP_ON  &ext_power EP_OFF  &trans           &trans           &trans                             &trans                             &trans                           &trans                           &ext_power EP_OFF                 &ext_power EP_ON                  &ext_power EP_TOG
&rgb_ug RGB_TOG    &rgb_ug RGB_HUI   &rgb_ug RGB_SAI    &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_EFF                    &rgb_ug RGB_COLOR_HSB(296,100,50)  &rgb_ug RGB_COLOR_HSB(39,94,48)  &rgb_ug RGB_COLOR_HSB(62,89,50)  &rgb_ug RGB_COLOR_HSB(208,94,49)  &rgb_ug RGB_COLOR_HSB(360,95,48)  &rgb_ug RGB_COLOR_HSB(130,93,49)
&trans             &rgb_ug RGB_HUD   &rgb_ug RGB_SAD    &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_EFR  &trans    &trans  &trans                             &trans                           &trans                           &trans                            &trans                            &trans
                                                        &trans           &trans           &trans           &trans    &trans  &trans                             &trans                           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
